*{
    padding: 0;
    margin: 0;
}

:root{
    --red_indice:rgb(239, 58, 58);
    --text_color1: white;
    --text_color2: black;
    --back:rgb(26, 25, 25);
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 3vh 0;
}

.logo{
    display: flex;
    flex-direction: row;
    color:var(--text_color1);
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo h1{
    animation-name: logoh1;
    animation-duration: 2s;
}

.indice{
    color:var(--red_indice);
    animation-name: indice;
    animation-duration: 1.5s;
}
.logo h3{
    animation-name: logoh3;
    animation-duration: 2s;
}
@keyframes logoh1{
    0%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes logoh3{
    0%{
        transform: translateX(900px);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes indice{
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0%);
    }
}
.choix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 0;
}
.choix a{
    text-decoration: none;
    color:var(--text_color1);
    padding: 0 6rem;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.choix a:hover{
    color:var(--red_indice);
    font-size: 1.8rem ;
}

nav{
    position: sticky;
    top:0;
    z-index: 1;
}

.milieu{   
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(photo/premierephoto.jpg);
    background-size: cover; 
    padding-bottom: 9.75rem;
}

.first_part{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 0;
    padding-top: 12vh;
}
.titre_gauche{
    font-size: 1.4rem;
    margin-right: 70%;
    color: var(--red_indice);
    animation-name: titre;
    animation-duration: 1s;
}
@keyframes titre{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0%);
    }
}
.texte{
    margin-left: 2vw;
    margin-top: 5rem;
    font-size: 1.2rem;
    margin-right: 75%;
    color: var(--text_color1);
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 70%;
    margin-top: -4rem;
}
.buttons button{
    background-color:rgba(0,0,0,0.3);
    color: white;
    border-radius: 1rem;
    animation-name: buttons;
    animation-duration: 1s;
}
button a{
    color: white;
}

.buttons button:hover{
    background-color:rgba(83, 79, 79, 0.3);
    color: var(--red_indice);
}
@keyframes buttons{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0%);
    }
}
.billets{
    margin-left: 5vw;
    width: 12vw;
    font-size: 1.2rem;
    background-color: var(--text_color1);
    border-color: var(--red_indice);
}
.billets a{
    text-decoration: none;
}
.abonner{
    height: 10vh;
    width: 12vw;
    font-size: 1.2rem;
    background-color: var(--text_color1);
    border-color: var(--red_indice);
}


main{
    background-color: var(--back);
}

.boxes{
    display: flex;
    flex-direction: column;
}

.boxes_L1{
    display: flex;
    flex-direction:unset;
    margin-top: 15vh;
    justify-content: space-around;
    animation-name: boxeL1;
    animation-duration: 3s;
}
@keyframes boxeL1{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0%);
    }
}

.course1,.course2,.course3,.course4,.course5{
    background-color:var(--text_color2);
    height: 10rem;
    width: 16rem;
    text-align: center;
    border-radius: 1rem;
    transition: transform 0.5s
}
.course1:hover{
    transform: scale(1.2);
}
.course2:hover{
    transform: scale(1.2);
}
.course3:hover{
    transform: scale(1.2);
}
.course4:hover{
    transform: scale(1.2);
}
.course5:hover{
    transform: scale(1.2);
}

.boxes_L2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20vh;
    margin-bottom: 8vh;
    animation-name: boxeL2;
    animation-duration: 3s;
}
@keyframes boxeL2{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0%);
    }
}

.boxes h1{
    background-color:rgb(245, 243, 243);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 0;
}

 .boxes h2{
    color: var(--red_indice);
    padding-top: 1.5rem;
}

.boxes hr{
    height: 0.2vh;
    margin: 0 2vh;
    border: none;
    background-color: var(--text_color1);
}

.boxes h3{
    padding: 0.5rem 0;
    color:var(--text_color1);
}

.boxes p{
    color:var(--red_indice);
}

#pilotes{
    color: white;
}

.ligne1{
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
    margin-bottom: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    justify-content: space-between;
    
}
.marquez{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo/marc-marquez.jpeg);
    background-size: cover;
    border: 2px solid rgb(88, 181, 243);
}
.marquez_texte{
    background-color:  rgba(88, 181, 243, 0.4);
    opacity: 0;
    padding-top: 5vh;
    transition: opacity 0.5s ease;
}
.marquez_texte p{
    text-align: center;
}
.marquez:hover .marquez_texte{
    opacity: 1;
}

.martin{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo/Jorge-Martin.jpg);
    background-size: cover;
    margin-left: 3vw;
    border: 2px solid rgb(148, 14, 178);
}
.martin_texte{
    background-color: rgba(148, 14, 178, 0.4);
    opacity: 0;
    padding: 2.4vh 0;
    transition: opacity 0.5s ease;
}
.martin_texte p{
    text-align: center;
}
.martin:hover .martin_texte{
    opacity: 1;
}

.pecco{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo/pecco.jpg);
    background-size: cover;
    border: 2px solid rgba(199, 3, 3, 0.571);
}
.pecco_texte{
    background-color:  rgba(199, 3, 3, 0.2);
    opacity: 0;
    padding-top: 5vh;
    transition: opacity 0.5s ease;
}
.pecco_texte p{
    text-align: center;
}
.pecco:hover .pecco_texte{
    opacity: 1;
}


.fabio{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo/fabio-quartararo.jpg);
    background-size: cover;
    border: 2px solid rgba(22, 35, 213, 0.622);
}
.fabio_texte{
    background-color:rgba(22, 35, 213, 0.3);
    opacity: 0;
    padding-top: 4vh;
    padding-bottom: 1vh;
    transition: opacity 0.5s ease;
}
.fabio_texte p{
    text-align: center;
}
.fabio:hover .fabio_texte{
    opacity: 1;
}

.Acosta{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo/acosta.jpg);
    background-size: cover;
    border: 2px solid rgb(231, 58, 35);
}
.acosta_texte{
    background-color:rgba(231, 58, 35, 0.2);
    opacity: 0;
    padding-top: 5vh;
    transition: opacity 0.5s ease;
}
.acosta_texte p{
    text-align: center;
}
.Acosta:hover .acosta_texte{
    opacity: 1;
}

.ligne2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15vh;
    margin-right: 15vh;
}
.bio{
    width: 15rem;
    height: 7rem;
}
.bio p{
    align-items: center;
}
.classement{
    width: 15rem;
    height: 7rem;
}
.description{
    width: 31.5rem;
    height: 12rem;  
}
.description p{
    padding: 1vh;
}
.ligne3{
    margin: 5vh 0;
}
.Acosta{
    margin: 0 30.3rem;
}
.partie1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#billets{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    padding-bottom: 5vh;
}

.prix{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: space-around;
    background-color: black;
    border: 0.5px solid var(--red_indice);
}

.simple,.VIP{
    font-size: 1.2rem;
    width: 10rem;
    height: 6rem;
}
.simple{
    animation-name: prixSimple;
    animation-duration: 2s;
}
@keyframes prixSimple{
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0%);
    }
}
.VIP{
    animation-name: prixVIP;
    animation-duration: 2s;
}
@keyframes prixVIP{
    0%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0%);
    }
}

.formulaire{
    display: flex;
    flex-direction: column;
    margin: 3vh 15vw;
    background-color:var(--back);
    border: 2px solid var(--red_indice);
    border-radius: 2rem;
}

.titre_milieu{
    margin: 2vh 0;
    padding: 0 24vw;
    font-size: 1.5rem;
}

.a_remplir{
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
}
.type,.nombre,.numero,.nom,.email{
    display: flex;
    flex-direction: row;
    color: var(--red_indice);
    font-size: 1.3rem;
    margin: 2vh 0;
}

.a_remplir input{
    margin-left: 1vw;
    margin-right: 10vw;
    height: 1.5rem;
    background-color: var(--back);
    border: 1px solid var(--text_color1);
    color: var(--text_color1);
}

.type input{
    width: 37.5rem;
} 
.nombre input{
    width: 35rem;
}
.numero input{
    width: 37.1rem;
}
.nom input{
    width: 44rem;
}
.email input{
    width: 37.5rem;
}

.a_remplir hr{
    background-color: var(--text_color1);
    height: 1px;
    border: none;
}

.validation{
    margin-bottom: 2vh;
}

.validation button{
    font-size: 1.3rem;
    height: 3rem;
    width: 7.5rem;
    margin-left: 50rem;
    color: var(--red_indice);
    background-color: var(--text_color2);
    border-radius: 1rem;
    border: 1px solid var(--text_color1);
}
.validation button:hover{
    background-color:rgb(239, 58, 58) ;
    color: var(--text_color2);
}