*{
    padding: 0;
    margin: 0;
}

:root{
    --red_indice:rgb(239, 58, 58);
    --text_color1: white;
    --text_color2: black;
    --back:rgb(26, 25, 25);
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 3vh 0;
}

.logo{
    display: flex;
    flex-direction: row;
    color:var(--text_color1);
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.indice{
    color:var(--red_indice);
}

.choix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 0;
}
.choix a{
    text-decoration: none;
    color:var(--text_color1);
    padding: 0 6rem;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    position: sticky;
    top:0;
}

.milieu{   
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(photo/premierephoto.jpg);
    background-size: cover; 
    padding-bottom: 9.75rem;
}

.first_part{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 0;
    padding-top: 12vh;
}
.titre_gauche{
    font-size: 1.4rem;
    margin-right: 70%;
    color: var(--text_color1);
}
.texte{
    margin-left: 2vw;
    margin-top: 5rem;
    font-size: 1.2rem;
    margin-right: 75%;
    color: var(--text_color1);
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 70%;
    margin-top: -4rem;
}
.billets{
    margin-left: 5vw;
    width: 12vw;
    font-size: 1.2rem;
    background-color: var(--text_color1);
    border-color: var(--red_indice);
}
.billets a{
    text-decoration: none;
}
.abonner{
    height: 10vh;
    width: 12vw;
    font-size: 1.2rem;
    background-color: var(--text_color1);
    border-color: var(--red_indice);
}

main{
    background-color: var(--back);
}

.boxes{
    display: flex;
    flex-direction: column;
}

.boxes_L1{
    display: flex;
    flex-direction:unset;
    margin-top: 15vh;
    justify-content: space-around;
}

.course1,.course2,.course3,.course4,.course5{
    background-color:var(--text_color2);
    height: 10rem;
    width: 16rem;
    text-align: center;
    border-radius: 1rem;
}
.boxes_L2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20vh;
    margin-bottom: 8vh;
}

.boxes h1{
    background-color:rgb(245, 243, 243);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 0;
}

 .boxes h2{
    color: var(--red_indice);
    padding-top: 1.5rem;
}

.boxes hr{
    height: 0.2vh;
    margin: 0 2vh;
    border: none;
    background-color: var(--text_color1);
}

.boxes h3{
    padding: 0.5rem 0;
    color:var(--text_color1);
}

.boxes p{
    color:var(--red_indice);
}